
body, #content {
	font-size: 10pt !important;
	color: #111 !important;
	font-weight: 400;
	width: 100%;
	margin-top: 0;
  margin-bottom: 1em;
}

strong {
	color: #000 !important;
}

.hide, .download, nav, footer {
	display: none !important;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
  border-bottom: none;
}

body img {
	width: 99%;
}

h1 {
	font-size: 3.2em;
}
 .sub {
  width: 90%;
  padding-left: 10%;
 }
 .sub-half {
  width: 50%;
  float: left;
  min-height: 225px;
  }
#header h2 {
	font-size: 1.5em;
	margin: -0.6em 0 -1em;
}

#header, #header h1, #header h2, #header h4 {
	color: #111;
}

h3 {
	font-size: 1em;
	margin: 0 0 -0.3em;
	color: #222;
}
h4 {
  font-size: 0.875em;
  margin: 0 0 -0.3em;
  color: #222;
}
.stats {
  padding-top: 0.3em;padding-left: 4%;}

#header h1:after {
	content: "wadegarrett.com";
  padding-left: 1em;
	-moz-opacity: 0.25;
	-webkit-opacity: 0.25;
	filter:alpha(opacity=25);
	opacity: 0.25;
}

#header {
	margin-bottom: -0.8em;
}
#header .info {
  text-align: left;
}

#print {
	padding-top: 1em;
	display: block !important;
}
.hide {
  display: none;
}
.print {margin-top: 4em; padding-top: 5em;}